body{
      background-color:gray ;
}
.main{
    width: 221px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;

}
.box-list1{
    display: flex;
    flex-direction: column;
}
.box1{
    display: flex;
    flex-direction: row;
        justify-content: space-between;
}
.box-list2{
    margin-top:30px; 
}