

ol{
    display:flex;
gap:10px ;
padding-right: 15px;   

}
li{
    list-style: none;
}
.top{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;

}
h3{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.sl{width: 171px;

}
.cl{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 15px;
}
h1{
    padding-left: 15px;
}
.ip{
    background-color: black;
    color: white;
}
