img{
    width: 300px;
}
.box-list{
            background-color: #cc98d5;
            width: 750px;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
                justify-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
gap:35px;
}
input{
        padding: 13px;
            border-radius: 10px;
            background-color: #41f520;
            font-size: 15px;
            cursor: pointer;
}