.were {
    font-size: 50px;
}
.a {
    color: rgb(8, 86, 243);
}
.b {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c {
    color: blueviolet;
    font-size: 30px;
}
.d{
    background-color: red;
    margin-top: 50px

}